body {
    padding: 0px;
    margin: 0px;
    height: 100%;

}

#header {
    background-color: lightblue;
    height: 90px;
    float: left;
    width: 70%;

}

#info {
    background-color: blanchedalmond;
    height: 90px;

}

#rightbar {
    width: 30%;
    float: right;
    text-decoration: none;

}

#rightbar a {
    color: black;

}


.header {
    text-align: center;
    background-color: lightblue;
    padding: 40px;
    width: 100%;
    display: inline-block;

}

.info {
    background-color: blanchedalmond;
    padding: 40px;
    display: inline-block;
    margin-left: 0px;
    margin-right: 50px;
    float: left;
}

#form {
   margin: 50px;
}


#build td, #ready_build td{
    padding: 2px;
    padding-left: 4px;
}

#army td, #ready_army td{
    padding: 2px;
    padding-left: 4px;
}

#upgrade_army td{
    padding: 2px;
    padding-left: 4px;
}